body{
	 background-color: #58D46D;
	 background-image: url("../elmo.gif");
	 color:#000000;
	}


			{
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin-top:0px;
				height:0px;
				width:0px;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav {
				width:1000px; /*Le establecemos un ancho*/
				margin-left: 1px; /*Centramos automaticamente*/
			}
 
			.nav > li {
				float:right;
			}
			
			.nav li a {
				background-color:#F4181C;
				color:#fff;
				text-decoration: inherit;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#58BFD4;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:0px;
				top:0px;
			}
h1{
	color:#F41A1E;
	width:761px;
	background-color: #FFFFFF;
	margin: 20px 100px;
	margin-left: 208px;
	padding: 35px;
	border-rdius: 40px;
}

h2{
	color:black;
	width:761px;
	background-color: #FFFFFF;
	margin: 20px 100px;
	margin-left: 208px;
	padding: 35px;
	
}